[submodule "themes/theme-terminal"]
	path = themes/theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "theme/hugo-theme-terminal"]
	path = theme/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
